@charset "utf-8";
/* ShoreDog Stylesheet
* Version 0.1
* All Rights Reserved.
*/

 
/*-------algemeen-------*/
body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	background:#000 url(achter.jpg) repeat;
}

div.container{
	width:50%;
	height:auto;
	margin-bottom:0px;
	min-width:600px;
	margin-left: auto;
    margin-right: auto;
}


div.banner{
	width:100%;
	background:#666666;
	vertical-align:middle;
	text-align:right;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	background-image:url(logo.png);
	height:150px;
	background-repeat:no-repeat;
	background-position:center;
}

div.menu{
	height:25px;
	width:100%;
	background:#333333;
}

div.menuitem{
	padding-top:5px;
	padding-bottom:5px;
	width:25%;
	text-align:center;
	float:left;
	color:#CCCCCC;
}

div.menuitem:hover{
	background-color:#111111;
}

div.navigation{
	height:auto;
	min-width:585px;
	background:#666666;
	padding-left:15px;
	padding-top:5px;
}

div.content{
	height:auto;
	padding:20px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	background:#666666;
	margin-bottom:50px;
}

div.catbalk{
color:#FFFFFF;
background:url(catbalk.jpg) repeat-x;
height:25px;
border:1px #333 solid;
padding-top:10px;
padding-left:15px;
font-weight:bold;
margin-top:20px;
}

div.eindfloat{
    height:0px;
    width:100%;
clear:both;
}

div.forumhok{
height:auto;
border-left:1px solid #333333;
border-right:1px #333 solid;
border-bottom:1px #333 solid;
padding-top:10px;
padding-bottom:10px;
padding-left:15px;
padding-right:15px;
}

div.quote{
	height:auto;
	border-left:1px solid #000;
	border-right:1px #000 solid;
	border-bottom:1px #000 solid;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:15px;
	padding-right:15px;
	background-color:#444;
	color:#CCCCCC;
	margin-bottom:10px;
	background-image:url(quote.png);
	background-position:top right;
	background-repeat:no-repeat;
} 

div.footer{
	width: 100%;
	text-align:center;
	position:fixed;
	bottom:0px; 
	height:28px;
	left:0px;
	right:0px;
	background:url(catbalk.jpg) repeat-x;
}

div.footerdivider1{
	width:21%;
	height:100%;
	padding-top:7px;
	float:left;
	padding-left:2%;
	padding-right:2%;
}

div.footerdivider2{
	width:50%;
	height:100%;
	padding-top:7px;
	float:left;
}

input.invoer{
background-color:#CCCCCC;
}

table.invoertabel td{
padding:2px;
}

input.paneelinvoer{
background-color:#CCCCCC;
width:59%;
}

div.formulier br{
clear:both;
}

div.formulier span{
width:40%;
display:block;
float:left;
vertical-align:middle;
margin-top:3px;
margin-bottom:6px;
font-weight:bold;
}

div.formulier select{
width:50%;
display:block;
float:left;
height:20px;
margin-bottom:6px;
}

textarea.paneeltext{
width:98%;
background-color:#CCCCCC;
font-family:Geneva, Arial, Helvetica, sans-serif;
}

select, input{
    background-color:#CCC;
}

/*-------pagina specifiek-------*/

/*-------catforum pagina-------*/
div.categoriecontent{
height:auto;
padding:20px;
border-bottom-left-radius:15px;
border-bottom-right-radius:15px;
background:#666666;
margin-bottom:50px;
clear:left;
}

div.categoriecontainer{
background:#666666;
margin-bottom:30px;
width:100%;
clear:both;
}

div.categoriecatbalk{
color:#FFFFFF;
background:url(catbalk.jpg) repeat-x;
height:25px;
border:1px #333 solid;
padding-top:10px;
padding-left:15px;
font-weight:bold;
margin-top:20px;
clear:both;
}

div.catforumhok{
height:auto;
border-left:1px solid #000000;
border-right:1px #000 solid;
border-bottom:1px #000 solid;
}

div.forforumhok{
height:auto;
border-left:1px solid #000000;
border-right:1px #000 solid;
border-bottom:1px #000 solid;
}

div.categorieinfocontainer{
height:21px;
background:#555555;
float:left;
clear:both;
width:100%
}

div.categorieinfoforumhok{
height:21px;
padding-top:3px;
padding-bottom:3px;
padding-left:2.5%;
padding-right:2.5%;
width:40%;
float:left;
clear:both;
}

div.categorieinfoposthok{
height:21px;
padding-top:3px;
padding-bottom:3px;
padding-left:2.5%;
padding-right:2.5%;
width:7.5%;
float:left;
}

div.foruminfoposthok{
height:21px;
padding-top:3px;
padding-bottom:3px;
padding-left:5%;
padding-right:5%;
width:15%;
float:left;
}

div.categorieinfolastpost{
height:21px;
padding-top:3px;
padding-bottom:3px;
padding-left:2.5%;
padding-right:2.5%;
text-align:right;
width:25%;
float:right;
}

div.categorieforumcontainer{
height:50px;
background:#666666;
border-top:1px #000 solid;
width:100%;
float:left;
clear:both;
}

div.categorieforumhok{
height:30px;
padding-top:10px;
padding-bottom:10px;
padding-left:2.5%;
padding-right:2.5%;
width:40%;
clear:both;
float:left;
}

div.categorieposthok{
height:25px;
padding-top:15px;
padding-bottom:10px;
padding-left:2.5%;
padding-right:2.5%;
width:7.5%;
float:left;
}

div.forumposthok{
height:25px;
padding-top:15px;
padding-bottom:10px;
padding-left:5%;
padding-right:5%;
width:15%;
float:left;
}

div.categorielastpost{
height:30px;
padding-top:10px;
padding-bottom:10px;
padding-left:2.5%;
padding-right:2.5%;
width:25%;
float:right;
text-align:right;
}

div.categoriefooter{
width:100%;
clear:both;
}

/*-------registratie pagina-------*/

input.invoer{
background-color:#CCCCCC;
}

table.invoertabel td{
padding:2px;
}

div.registeragree{
height:400px;
padding: 0px;
border: 1px solid;
overflow:-moz-scrollbars-vertical;
overflow-y:auto;
}

/*-------Login pagina-------*/

div.loginbox{
width: 350px;
margin-left: auto;
    margin-right: auto;
text-align: center;
}

div.loginform{
position: relative;
width: 140px;
margin: 0px auto;
text-align: left;
}

/*-------profiel pagina-------*/

div.profileinfo{
height:auto;
width:35%;
float:left;
margin-right:5%;
}

div.profilecomments{
height:auto;
width:60%;
float:left;
}

div.profilecomment{
height:auto;
background-color:#6f6f6f;
}

div.userinfoheader{
color:#FFFFFF;
background-image:url(catbalk.jpg);
background-size:70px;
height:70px;
border:1px #333 solid;
padding-top:10px;
padding-left:15px;
font-weight:bold;
margin-top:20px;
}

div.userinfoheader h1{
    margin-left:70px;
    margin-bottom:0px;
}

div.userinfoheader h2{
    margin-top:0px;
    margin-left:75px;
    font-size:11px;
    color:#EEE;
}

img.avatar{
float:left;
margin:5px;
width:50px;
height:50px;
}

table.userinfotable{
width:100%;
}

/*-------new comment-------*/

/*-------comments (topic)-------*/

div.comment{
   padding-left:10px;
padding-top:10px;
padding-bottom:10px;
padding-right:10px;
height:auto;
background-color:#6f6f6f;
border:1px #333 solid;
}

div.forumhok2{
width:69%;
height:100%;
padding-top:10px;
padding-bottom:10px;
padding-left:15px;
padding-right:15px;
float:right;
word-wrap: break-word;
}

div.catbalk2{
color:#FFFFFF;
background:url(catbalk.jpg);
background-size:135px;
width:22%;
height:135px;
border-right:1px #333 solid;
border-bottom:1px #333 solid;
border-left:1px #333 solid;
border-top:1px #333 solid;
padding-top:10px;
padding-left:15px;
font-weight:bold;
float:left;
word-wrap: break-word;
}

/*-------Admin Paneel-------*/

.paneelinvoer2{
background-color:#CCCCCC;
}

table.paneelinvoertabel td{
padding:2px;
vertical-align:top;
}

div.paneelbox{
height:auto;
border-left:1px solid #333333;
border-right:1px #333 solid;
border-bottom:1px #333 solid;
padding-top:10px;
padding-bottom:10px;
padding-left:15px;
padding-right:15px;
background-color:#666;
}

div.paneelmenu{
width:30%;
height:auto;
float:left;
}

div.paneelcontent{
width:65%;
height:auto;
float:right;
}

div.paneelfooter{
width:100%;
clear:both;
}

textarea.paneeltext{
width:98%;
background-color:#CCCCCC;
font-family:Geneva, Arial, Helvetica, sans-serif;
resize:none;
}

a:link, a:visited, a:hover, a:active{
	text-decoration:none;
	font-weight:bold;
	color:#222;
}